extends layout

block content
  form(method="post", action="/schedules").my-3
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") イベント名
      input(type="text" name="scheduleName")#scheduleName.form-control
    div.form-group
      label(for="memo") メモ
      textarea(name="memo")#memo.form-control
    div.form-group
      label(for="day") 曜日
      div.form-check
        input(type="radio" name="day" value="0")#monday.form-check-input
        label(for="monday").form-check-label 月曜日
      div.form-check
        input(type="radio" name="day" value="1")#tuesday.form-check-input
        label(for="tuesday").form-check-label 火曜日
      div.form-check
        input(type="radio" name="day" value="2")#wednesday.form-check-input
        label(for="wednesday").form-check-label 水曜日
      div.form-check
        input(type="radio" name="day" value="3")#thursday.form-check-input
        label(for="thursday").form-check-label 木曜日
      div.form-check
        input(type="radio" name="day" value="4")#friday.form-check-input
        label(for="friday").form-check-label 金曜日
      div.form-check
        input(type="radio" name="day" value="5")#other.form-check-input
        label(for="other").form-check-label その他
    div.form-group
      label(for="style") 授業形態
      div.form-check
        input(type="radio" name="style" value="オンデマンド")#onDemand.form-check-input
        label(for="onDemand").form-check-label オンデマンド
      div.form-check
        input(type="radio" name="style" value="リアルタイム")#realtime.form-check-input
        label(for="realtime").form-check-label リアルタイム
    div.form-group
      label(for="style") 期間
      div.form-check
        input(type="radio" name="term" value="春学期前半")#firstHalfOfSpring.form-check-input
        label(for="firstHalfOfSpring").form-check-label 春学期前半
      div.form-check
        input(type="radio" name="term" value="春学期後半")#secondHalfOfSpring.form-check-input
        label(for="secondHalfOfSpring").form-check-label 春学期後半
      div.form-check
        input(type="radio" name="term" value="春学期通期")#allOfSpring.form-check-input
        label(for="allOfSpring").form-check-label 春学期通期
    button(type="submit").btn.btn-info イベントをつくる